<link rel="stylesheet" type="style/css" src="app/assets/stylesheets/users/new">
<header class="topBar">
  <img class="logo" src="#">
</header>
<ul>
  <% @videos.each do |videos| %>
    <li>
      <%= videos.title %>
      <%= embed(videos.youtube_url) %>
      <% end %>
    </li>
  <% end %>
</ul>
