<link rel="stylesheet" type="style/css" src="app/assets/stylesheets/users/new">
<header class="topBar">
  <div class="logo">
		<p>|LYSM|</p>
		<div class="sublogo">
			<p class="sub_logo">LIVE</p>
			<p class="sub_logo">YOUR</p>
			<p class="sub_logo">SHOW</p>
			<p class="sub_logo">MUCH</p>
		</div>
	</div>
</header>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<ul>
	<% @videos.each do |videos| %>
		<li>
			<%= @band.name %> - <%= videos.title %>
    </li>
    <li>
      <%= embed(videos.youtube_url) %>
      <% end %>
    </li>
</ul>
