<% provide(:title, 'Sign up') %>
<header class="topBar">
  <div class="logo">
    <p>|LYSM|</p>
    <div class="sublogo">
      <p class="sub_logo">LIVE</p>
      <p class="sub_logo">YOUR</p>
      <p class="sub_logo">SHOW</p>
      <p class="sub_logo">MUCH</p>
    </div>
  </div>
</header>