<link rel="stylesheet" type="style/css" src="app/assets/stylesheets/users/new">
<header class="topBar">
  <img class="logo" src="#">
</header>
<% provide(:title, @band.name) %>
<h1>
  <%= gravatar_for @band %>
  <%= @band.name %>
<h2>
	<%= @band.email %>
</h2>
<a href="../videos/new.html"><button class="homeButtons" id="userButton"> Add your video</button></a>