<% content_for :content do %>

<% end %>
<%= yield :content %>

<main class="cf">
	<header class="topBar">
		<img class="logo" src="http://www.clker.com/cliparts/0/C/I/O/3/9/white-glossy-rectangle-button-md.png">
	</header>
	<body>
		<section class="homeButtons">
			<%= link_to image_tag("#"), band_signup_path, :class=>"bandButton" %>
			<!-- <%= link_to image_tag("#"), signup_path, :class=>"stageButton" %> -->
			<%= link_to image_tag("#"), signup_path, :class=>"userButton" %>
		</section>
	</body>
</main>
