<% content_for :content do %>

<% end %>
<%= yield :content %>

<main class="cf">
	<header class="topBar">
		<img class="logo" src="http://www.clker.com/cliparts/0/C/I/O/3/9/white-glossy-rectangle-button-md.png">
		<img class="userAvatar"src="http://www.clker.com/cliparts/0/C/I/O/3/9/white-glossy-rectangle-button-md.png">
	</header>
	<nav class="navMenu">
		<ul>
			<a href="#"><li>Stages</li></a>
			<a href="#"><li>Bands</li></a>
			<li></li>
		</ul>
	</nav>
</main>
