<% content_for :content do %>

<% end %>
<%= yield :content %>

<main class="cf">
	<header class="topBar">
		<div class="logo">
			<p>|LYSM|</p>
			<div class="sublogo">
				<p class="sub_logo">LIVE</p>
				<p class="sub_logo">YOUR</p>
				<p class="sub_logo">SHOW</p>
				<p class="sub_logo">MUCH</p>
			</div>
			<div class="logIn">
				<a href="../band_sessions/new.html"><button class="buttonIn" id="bandIn">Band LogIn</button></a>
				<a href="../users/login.html"><button class="buttonIn" id="userIn">User LogIn</button></a>
			</div>
		</div>
	</header>
	<section class="buttonsContainer">
		<a href="../bands/new.html"><button class="homeButtons">Sign Up as Band</button></a>
		<a href="../users/new.html"><button class="homeButtons">Sign Up as User</button></a>
		</section>
	<footer class="botBar">
	</footer>
</main>
