<% content_for :content do %>

<% end %>
<%= yield :content %>

<main class="cf">
	<header class="topBar">
		<img class="logo" src="#">
	</header>
		<section class="buttonsContainer">
			<a href="../users/new.html"><button class="homeButtons">Sign up as Band</button></a>
			<a href="view.html"><button class="homeButtons" id="centerButton">Sign un as User</button></a>
		</section>
		<footer class="botBar">

		</footer>
</main>
